html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Crée trois colonnes de taille égale */
    gap: 20px; /* Ajoute un espace de 20px entre les colonnes */
}
